@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pretendard Font */
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');
}

* {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
  word-break: keep-all;
}

body {
  @apply bg-slate-50 text-slate-600 antialiased;
}
